body {
  background-color: rgb(255, 154, 171);
}

article {
  /* background-color:blue; */
  margin:0 auto;
  width:90%;
  max-width:620px;
}

section {
  /* background-color:white; */
  margin: 10px auto;
  width:90%;
}