
/**********************************************************************************************************************************/
/* Center Text Horizontally AND Vertially */
/**********************************************************************************************************************************/

html, body {
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

/**********************************************************************************************************************************/
/* General */
/**********************************************************************************************************************************/

body {
    background-color: black;
}

h1 {
    font-family: arial;
    font-size: 5rem;
    color: white;
    letter-spacing: 1rem;
}
