/*******************************************************/
/* M O B I L E - V E R S I O N */
/*******************************************************/
/* mobile version */
/*******************************************************/

    /*******************************************************/
    /* GENERAL */
    /*******************************************************/
    
    html {
        scroll-padding-top: 40px; /* sticky nav won't hide stuff */
    }
    
    /*******************************************************/
    /* HEADER */
    /*******************************************************/
    
    
    /*******************************************************/
    /* NAVIGATION */
    /*******************************************************/

    
    /*******************************************************/
    /* SOCIALS */
    /*******************************************************/
    
    /*******************************************************/
    /* CONTENT */
    /*******************************************************/
    
    /*******************************************************/
    /* FOOTER */
    /*******************************************************/
    

@media only screen and (min-width: 768px) {
/*******************************************************/
/* D E S K T O P - V E R S I O N */
/*******************************************************/
/* desktop version */
/*******************************************************/

    /*******************************************************/
    /* GENERAL */
    /*******************************************************/
    
    html {
        scroll-padding-top: 40px; /* sticky nav won't hide stuff */
    }
    
    /*******************************************************/
    /* HEADER */
    /*******************************************************/
    
    
    /*******************************************************/
    /* NAVIGATION */
    /*******************************************************/

    
    /*******************************************************/
    /* SOCIALS */
    /*******************************************************/
    
    /*******************************************************/
    /* CONTENT */
    /*******************************************************/
    
    /*******************************************************/
    /* FOOTER */
    /*******************************************************/
    
}

@media only screen and (min-width: 600px) {
/*******************************************************/
/* T A B L E T - V E R S I O N */
/*******************************************************/
/* tablet version */
/*******************************************************/

    /*******************************************************/
    /* GENERAL */
    /*******************************************************/
    
    html {
        scroll-padding-top: 40px; /* sticky nav won't hide stuff */
    }
    
    /*******************************************************/
    /* HEADER */
    /*******************************************************/
    
    
    /*******************************************************/
    /* NAVIGATION */
    /*******************************************************/

    
    /*******************************************************/
    /* SOCIALS */
    /*******************************************************/
    
    /*******************************************************/
    /* CONTENT */
    /*******************************************************/
    

    
    /*******************************************************/
    /* FOOTER */
    /*******************************************************/
   
}